<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      Relevamiento Visual
    </ion-title>
  </ion-navbar>

  <div style="display:flex; flex-direction:column;justify-content:center">
    <button ion-button color="secondary" round icon-start (click)="sacarFoto()" *ngIf="!base64Image">
      <ion-icon name='camera'></ion-icon>
      Camara
    </button>

    <button ion-button color="primary" round icon-start (click)="upload()" *ngIf="base64Image">
      <ion-icon name='cloud-upload'></ion-icon>
      Subir Foto Linda
    </button>

    <button ion-button color="dark" round icon-start (click)="upload()" *ngIf="base64Image">
      <ion-icon name='cloud-upload'></ion-icon>
      Subir Foto Fea
    </button>

    <button ion-button color="danger" round icon-start (click)="cancelar()" *ngIf="base64Image">
      <ion-icon name='exit'></ion-icon>
      Cancelar
    </button>

    <img [src]="base64Image" *ngIf="base64Image" />

  </div>

  <ion-toolbar no-border-top color="dark">
    <ion-segment [(ngModel)]="cosas">
      <ion-segment-button value="lindas">
        Cosas Lindas
      </ion-segment-button>
      <ion-segment-button value="feas">
        Cosas Feas
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div [ngSwitch]="cosas">
    <ion-list *ngSwitchCase="'lindas'">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/img/01.jpg">
        </ion-thumbnail>
        <h2>Imagen 01</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/img/02.jpg">
        </ion-thumbnail>
        <h2>Imagen 02</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/img/03.jpg">
        </ion-thumbnail>
        <h2>Imagen 03</h2>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'feas'">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/img/04.jpg">
        </ion-thumbnail>
        <h2>Imagen 04</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/img/05.jpg">
        </ion-thumbnail>
        <h2>Imagen 05</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/img/01.jpg">
        </ion-thumbnail>
        <h2>Imagen 01</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/img/02.jpg">
        </ion-thumbnail>
        <h2>Imagen 02</h2>
      </ion-item>
    </ion-list>

  </div>
</ion-content>